<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">

<head>
  <meta charset="UTF-8">
  <title>Category List</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text="${title}"></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
    </tr>
    <tr th:each="category : ${categories}">
      <td th:text="${category.id}"></td>
      <td th:text="${category.name}"></td>
      <td>
        <a th:href="@{/categories/edit/{id}(id=${category.id})}">Edit</a>
        <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="text-danger">Delete</a>
      </td>
    </tr>
  </table>
</div>
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>